@charset "utf-8";
/* reset */
* {
	margin: 0;
	padding: 0
}

body {
	-webkit-text-size-adjust: none
}

body, th, td, input, select, textarea, button {
	color: #565656;
	font-size: 12px;
	line-height: 1.5;
	font-family: '나눔고딕', 'NanumGothic', '돋움', dotum, sans-serif
}

a, a:link, a:visited, a:hover, a:active {
	color: #333;
	text-decoration: none
}
/* table {border-collapse:collapse} */
article, aside, details, figcaption, figure, footer, header, nav,
	section {
	display: block
}

fieldset, img {
	border: 0 none
}

dl, ul, ol, menu, li {
	list-style: none
}

blockquote, q {
	quotes: none
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none
}

input, select, textarea, button {
	vertical-align: middle
}

input[type='text'], input[type='password'], input[type='submit'], input[type='search']
	{
	-webkit-appearance: none;
	border-radius: 0
}

input:checked[type='checkbox'] {
	background-color: #666;
	-webkit-appearance: checkbox
}

button, input[type='button'], input[type='submit'], input[type='reset'],
	input[type='file'] {
	-webkit-appearance: button;
	border-radius: 0
}

input[type='search']::-webkit-search-cancel-button {
	-webkit-appearance: none
}

button {
	border: 0 none;
	background-color: transparent;
	cursor: pointer
}

address, caption, cite, code, dfn, em, var {
	font-style: normal;
	font-weight: normal
}

caption {
	overflow: hidden;
	position: absolute;
	left: -9999px;
	width: 0;
	height: 1px;
	margin: 0;
	padding: 0
}
/* hide */
#skip {
	overflow: hidden;
	position: absolute;
	left: -9999px;
	width: 0;
	height: 1px;
	margin: 0;
	padding: 0
}

.hidden {
	overflow: hidden;
	position: absolute;
	left: -9999px;
	width: 0;
	height: 1px;
	margin: 0;
	padding: 0
}

.hiddenText {
	text-indent: -9999px
}
/* add */
.f_l {
	float: left
}

.f_r {
	float: right
}

.al_l {
	text-align: left;
	padding-left: 1em
}

.al_c {
	text-align: center
}

.show {
	display: block
}

.hide {
	display: none
}

::selection {
	background-color: #36c8c0;
	color: #fff
}

::-moz-selection {
	background-color: #36c8c0;
	color: #fff
}